div.mejs-speed-button {
  width: 46px !important;
  position: relative;
  button {
    background: transparent;
    width: 36px;
    font-size: 11px;
    line-height: normal;
    color: #ffffff;
  }
  &:hover > .mejs-speed-selector {
    visibility: visible;
  }
  .mejs-speed-selected {
    color: rgba(33, 248, 248, 1);
  }
}

.mejs-speed-selector {
  visibility: hidden;
  position: absolute;
  top: -100px;
  left: -20px;
  width: 60px;
  height: 100px;
  background: url(background.png);
  background: rgba(50, 50, 50, 0.7);
  border: solid 1px transparent;
  padding: 0;
  overflow: hidden;
  border-radius: 0;
  input {
    display: none;
  }
  label {
    width: 60px;
    float: left;
    padding: 4px 0 0 0;
    line-height: 15px;
    font-size: 11.5px;
    color: white;
    margin-left: 5px;
    cursor: pointer;
  }
  li {
    margin: 0 0 6px 0;
    padding: 0 10px;
    list-style-type: none !important;
    display: block;
    color: #fff;
    overflow: hidden;
    &:hover {
      background-color: rgb(200, 200, 200) !important;
      background-color: rgba(255, 255, 255, .4) !important;
    }
  }
}
