  $ui: dark;

  // Default variable settings
  $controlheight: 48px;
  $bsize: 42px;
  $isize: 32px;
  $ioffset: 60px;
  $hilight: #3caac8;
  $background:  #010101;
  $midground: lighten($background,30%);
  $foreground: #F0F0F0;
  $controls: "controls_min_dark.svg";
  $controls_fallback: "controls_large_dark.png";
  $loading: "loading_dark.gif";
  $bigplay: "bigplay.svg";

  @import "common";
  @import "controls/controls";
