  $ui: dark;
  // Default variable settings

  $controlheight: 32px;
  $bsize: 20px;
  $isize: 16px;
  $ioffset: 30px;
  $hilight: #3caac8;
  $background:  #010101;
  $midground: lighten($background,30%);
  $foreground: #F0F0F0;
  $controls: "controls_dark.png";
  $controls_fallback: "controls_dark.png";
  $loading: "loading_dark.gif";
  $bigplay: "bigplay.svg";

  @import "common";
  @import "controls/controls";
