  $ui: wmp;
  // Default variable settings
  $controlheight: 32px;
  $bsize: 20px;
  $isize: 16px;
  $hilight: #3caac8;
  $background: #F0F0F0;
  $midground: darken($background,20%);
  $foreground: #010101;
  $controls: "controls-wmp.svg";
  $controls_fallback: "controls-wmp.png";
  $loading: "loading_light.gif";
  $bigplay: "bigplay.svg";

  @import "common";
  @import "controls/controls-wmp";
