  $ui: light;
  // Default variable settings
  $controlheight: 32px;
  $bsize: 18px;
  $isize: 16px;
  $ioffset: 30px;
  $hilight: #3caac8;
  $background: #F0F0F0;
  $midground: darken($background, 15%);
  $foreground: #010101;
  $controls: "controls_min_light.svg";
  $controls_fallback: "controls_light.png";
  $loading: "loading_dark.gif";
  $bigplay: "bigplay.svg";

  @import "common";
  @import "controls/controls";
