# silverlight stuff
src/silverlight/obj/*
src/silverlight/Bin/*
build/AppManifest.xaml
build/SilverlightMediaElementTestPage.html
build/SilverlightMediaElement.pdb
build/SilverlightMediaElement.dll
tests/*
newfeatures/*
/mejs3/
/node_modules
build/*.js
build/*.css
build/*.png
build/*.svg
build/*.gif