{
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "color-hex-case": ["lower"],
    "color-hex-length": "short",
    "declaration-block-no-duplicate-properties": [
      true,
      {
        "ignore": [
          "consecutive-duplicates-with-different-values"
        ]
      }
    ],
    "function-comma-space-after": "always-single-line",
    "function-comma-space-before": "never",
    "indentation": 4,
    "length-zero-no-unit": true,
    "number-leading-zero": "always",
    "number-no-trailing-zeros": true,
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true,
    "property-case": "lower",
    "property-no-unknown": true,
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-list-comma-newline-after": "always",
    "shorthand-property-no-redundant-values": true,
    "string-quotes": "single"
  }
}
