{
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "color-hex-case": ["lower"],
    "declaration-block-no-duplicate-properties": [
      true,
      {
        "ignore": [
          "consecutive-duplicates-with-different-values"
        ]
      }
    ],
    "number-leading-zero": "always",
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true,
    "property-case": "lower",
    "property-no-unknown": true,
    "shorthand-property-no-redundant-values": true
  }
}
