$me-black: #000;
$me-white: #fff;

//custom colors
$me-gray-1: #333;
$me-gray-2: #999;
$me-gray-4: #ddd;
$me-gray-3: #666;
$me-gray-5: #eee;

$me-dark-gray-1: #222;
$me-dark-gray-2: #111;


$me-blue-1: #2C7C91;