.mejs-postroll-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(background.png);
  background: rgba(50, 50, 50, 0.7);
  z-index: 1000;
  overflow: hidden;
}

.mejs-postroll-layer-content {
  width: 100%;
  height: 100%;
}

.mejs-postroll-close {
  position: absolute;
  right: 0;
  top: 0;
  background: url(background.png);
  background: rgba(50, 50, 50, 0.7);
  color: #fff;
  padding: 4px;
  z-index: 100;
  cursor: pointer;
}