
$theight:$controlheight / 3;
$tpad: ($controlheight - $theight)/2;

div.mejs-controls {
  .mejs-time {
    box-sizing: content-box;
    width:  $controlheight;
    margin: ($controlheight / 3) .1em 0;
    padding: 0 ($tpad/3);
    overflow: hidden;
    text-align: center;
    color: $foreground;
    a {
      float: left;
    }
  }

  .mejs-time-rail {
    direction: ltr;
    width: 180px;
    margin: ($controlheight / 3) 0 0;

    span, a {
      cursor: pointer;
      position: absolute;
      display: block;
      height: $theight;
      border-radius: 2px;
    }
  }

  .mejs-time-total,
  .mejs-time-current,
  .mejs-time-loaded {
    transition: width 100ms ease;
  }

  span.mejs-time-total {
    @include overlay();
  }

  span.mejs-time-current {
    @include overlay($hilight, darken($hilight, 30%));
  }

  span.mejs-time-loaded {
    @include overlay($midground, $foreground);
  }

  span.mejs-time-buffering {
    background-image: linear-gradient(-45deg, rgba($foreground, 0.15) 25%, transparent 25%, transparent 50%, rgba($foreground, 0.15) 50%, rgba($foreground, 0.15) 75%, transparent 75%, transparent);
    background-size: $theight $theight;
    animation: buffering-stripes 2s linear infinite;
  }

  span.mejs-time-handle {
    cursor: pointer;
    display: block;
    position: absolute;
    top: -2px;
    width: $theight/3;
    height: $theight;
    margin: 0;
    background: $foreground;
    border: solid 2px $background;
  }

  span.mejs-time-float {
    position: absolute;
    top: -1.8em;
    width: 3.2em;
    height:  $controlheight / 3;
    margin-left: -1.6em;
    text-align: center;
    color: $background;
    background: $foreground;
    border: solid 1px $midground;

    .mejs-time-float-current {
      width: 100%;
    }
  }

  span.mejs-time-float-corner {
    top: 1em;
    left: 1.5em;
    width: 0;
    height: 0;
    line-height: 0;
    border: solid 5px;
    border-radius: 0;
    border-color: $foreground transparent transparent transparent;
  }
}