.mejs__iframe-overlay {
  height: 100%;
  position: absolute;
  width: 100%;
}

.mejs__embed,
.mejs__embed body {
  background: $color-background;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
