/* Start: LAYERS */
.mejs__background {
  left: 0;
  position: absolute;
  top: 0;
}

.mejs__mediaelement {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.mejs__layer {
  z-index: 1;
}

:root .mejs__poster-img {
  display: none;
}

.mejs__poster-img {
  border: 0;
  padding: 0;
}

.mejs__poster {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.mejs__overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
}

.mejs__overlay-play {
  cursor: pointer;
}

.mejs__overlay-button {
  background: transparent;
  border: 0;

  &,
  svg {
    height: 5rem;
    width: 5rem;
  }
  svg {
    opacity: 0.75;
  }
}

.mejs__overlay:hover .mejs__overlay-button svg {
  opacity: 1;
}

.mejs__overlay-button .mejs__overlay-button:focus svg {
  opacity: 1;
}

.mejs__overlay-button,
.mejs__overlay-button .mejs__overlay-loading,
.mejs__overlay-loading svg {
  height: 5rem;
  width: 5rem;
}

.mejs__overlay-loading-bg-img {
  animation: mejs__loading-spinner 1s linear infinite;
  display: block;
  height: 5rem;
  width: 5rem;
  z-index: 1;
}
/* End: LAYERS */
