/* Start: Play (Play / Pause / Replay) */
.mejs__playpause-button svg {
    display: none;
}

.mejs__play svg.mejs__icon-play {
    display: block;
}

.mejs__pause svg.mejs__icon-pause {
    display: block;
}

.mejs__replay svg.mejs__icon-replay {
    display: block;
}
/* End: Play (Play / Pause / Replay) */