/* Start: Mute/Volume */
.mejs__volume-button {
  position: relative;

  > .mejs__volume-slider {
    -webkit-backface-visibility: hidden;
    background: opacify($dark-grey, 0.7);
    border-radius: 0;
    bottom: 100%;
    display: none;
    height: 7.1875rem;
    left: 50%;
    margin: 0;
    position: absolute;
    transform: translateX(-50%);
    width: 1.5625rem;
    z-index: 1;

    &:hover {
      border-radius: 0 0 0.25rem 0.25rem;
    }
  }
  svg {
    display: none;
  }
}

.mejs__volume-handle {
  background: opacify($white, 0.9);
  border: 1px solid $white;
  border-radius: 1px;
  cursor: ns-resize;
  height: 0.375rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 1rem;
}

.mejs__volume-total {
  background: opacify($white, 0.5);
  border: 0.06rem solid $white;
  height: 6.25rem;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 0.5rem;
  transform: translateX(-50%);
  width: 0.125rem;
}

.mejs__volume-current {
  background: opacify($white, 0.9);
  left: 0;
  margin: 0;
  position: absolute;
  width: 100%;
}

.mejs__horizontal-volume-slider {
  display: block;
  height: 2.25rem;
  position: relative;
  vertical-align: middle;
  width: 3.5rem;
}

.mejs__horizontal-volume-handle {
  display: none;
}

.mejs__horizontal-volume-total {
  background: opacify($dark-grey, 0.8);
  border: 0.06rem solid $white;
  border-radius: 0.125rem;
  font-size: 1px;
  height: 0.5rem;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1rem;
  width: 3.125rem;
}

.mejs__horizontal-volume-current {
  background: opacify($white, 0.8);
  border-radius: 0.125rem;
  border-right: 0.06rem solid $white;
  font-size: 1px;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.mejs__mute svg,
.mejs__unmute svg {
  stroke: currentColor;
}

.mejs__mute .mejs__icon-mute {
  display: block;
}

.mejs__unmute .mejs__icon-unmute {
  display: block;
}
/* End: Mute/Volume */
