/* _min_ controls use the fewest images required to implement mediaelement
  * to keep filesize as small as possible. If all controls are needed (loop,
  * stop, skipback, etc.) use the ME_controls_dark.png
*/
/**
* Import partial styles used by skins.
*/
/* line 2, ../sass/inc/_offscreen.scss */
.mejs-offscreen {
  position: absolute !important;
  top: -10000px;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 1, ../sass/inc/_wrappers.scss */
.mediaelement {
  margin: auto;
}

/* line 5, ../sass/inc/_wrappers.scss */
.mejs-container {
  position: relative;
  font-family: Helvetica, Arial;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  white-space: nowrap;
  vertical-align: baseline;
  color: #f0f0f0;
}
/* line 15, ../sass/inc/_wrappers.scss */
.mejs-container div,
.mejs-container span {
  position: static;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 25, ../sass/inc/_wrappers.scss */
.mejs-container ul,
.mejs-container li {
  display: block;
  list-style-type: none !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 34, ../sass/inc/_wrappers.scss */
.mejs-container a {
  color: #f0f0f0;
  display: block;
  width: auto;
  vertical-align: middle;
}

/* line 43, ../sass/inc/_wrappers.scss */
.mejs-container {
  background-color: #000;
}

/* line 47, ../sass/inc/_wrappers.scss */
div.mejs-background {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 53, ../sass/inc/_wrappers.scss */
div.mejs-mediaelement {
  position: relative;
  z-index: 1;
}

/* line 58, ../sass/inc/_wrappers.scss */
div.mejs-layers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* line 66, ../sass/inc/_wrappers.scss */
div.mejs-poster {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* line 73, ../sass/inc/_wrappers.scss */
div.mejs-poster img {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 80, ../sass/inc/_wrappers.scss */
:root div.mejs-poster img {
  display: none;
}

/* line 84, ../sass/inc/_wrappers.scss */
div.mejs-clear {
  clear: both;
}

/* line 89, ../sass/inc/_wrappers.scss */
.me-cannotplay a {
  font-weight: bold;
  color: f0f0ff;
}
/* line 93, ../sass/inc/_wrappers.scss */
.me-cannotplay span {
  padding: 15px;
}

/* line 3, ../sass/inc/_overlay.scss */
div.mejs-overlay {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100px;
}
/* line 9, ../sass/inc/_overlay.scss */
div.mejs-overlay .mejs-overlay-button,
div.mejs-overlay .mejs-overlay-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 72px;
  height: 72px;
  margin-top: -36px;
  margin-left: -36px;
}
/* line 20, ../sass/inc/_overlay.scss */
div.mejs-overlay .mejs-overlay-button {
  cursor: pointer;
  background: url("ME_bigplay.svg") no-repeat;
}
/* line 26, ../sass/inc/_overlay.scss */
div.mejs-overlay:hover .mejs-overlay-button {
  background-position: 0 -100px;
}
/* line 33, ../sass/inc/_overlay.scss */
div.mejs-overlay .mejs-overlay-loading span {
  width: 72px;
  height: 72px;
  background: transparent url("ME_loading_dark.gif") 50% 50% no-repeat;
}

/* line 6, ../sass/inc/_controls.scss */
div.mejs-controls {
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 32px;
  border-top: #4e4e4e 1px solid;
  background: #010101;
  background: rgba(1, 1, 1, 0.8);
  background: -webkit-linear-gradient(rgba(78, 78, 78, 0.8), rgba(1, 1, 1, 0.8));
  background: linear-gradient(rgba(78, 78, 78, 0.8), rgba(1, 1, 1, 0.8));
  /*
    // Not sure about these... are they used?
    .mejs-captions-button button {
    background-position: -(($ioffset * 11) - $ipos) $ipos;
    }

    .mejs-loop-on button {
    background-position: -(($ioffset * 10) - $ipos) $ipos;
    }

    .mejs-loop-off button {
    background-color: $midground;
    }

    .mejs-sourcechooser-button button {
    background-position: -(($ioffset * ?) - $ipos) $ipos;
    }

    .mejs-backlight-active span {
    background-position: -(($ioffset * ?) - $ipos) $ipos;
    }

    .mejs-backlight-inactive span {
    background-position: -(($ioffset * ?) - $ipos) $ipos;
    }
  */
}
/* line 16, ../sass/inc/_controls.scss */
div.mejs-controls div {
  float: left;
  margin: 0 0.1em;
  padding: 0;
}
/* line 24, ../sass/inc/_controls.scss */
div.mejs-controls button {
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
  margin: 2px 0 0;
  padding: 12px;
  border: 1px solid #4e4e4e;
  border-radius: 2px;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  background-color: rgba(78, 78, 78, 0);
  background-image: url("ME_controls_min_dark.svg");
  background-size: auto 16px;
  background-repeat: no-repeat;
  -webkit-transition: border-color 500ms, background-color 700ms;
  transition: border-color 500ms, background-color 700ms;
}
/* line 45, ../sass/inc/_controls.scss */
div.mejs-controls button:focus,
div.mejs-controls button:hover {
  background-color: rgba(1, 1, 1, 0.5);
  border-color: #010101;
}
/* line 51, ../sass/inc/_controls.scss */
div.mejs-controls button:focus {
  outline: dotted 1px #999;
}
/* line 56, ../sass/inc/_controls.scss */
div.mejs-controls .mejs-play button {
  background-position: 4px 4px;
}
/* line 60, ../sass/inc/_controls.scss */
div.mejs-controls .mejs-pause button {
  background-position: -24px 4px;
}
/* line 64, ../sass/inc/_controls.scss */
div.mejs-controls .mejs-stop button {
  background-position: -56px 4px;
}
/* line 68, ../sass/inc/_controls.scss */
div.mejs-controls .mejs-skip-back-button button {
  background-position: -86px 4px;
}
/* line 72, ../sass/inc/_controls.scss */
div.mejs-controls .mejs-mute button {
  background-position: -146px 4px;
}
/* line 76, ../sass/inc/_controls.scss */
div.mejs-controls .mejs-unmute button {
  background-position: -176px 4px;
}
/* line 80, ../sass/inc/_controls.scss */
div.mejs-controls .mejs-fullscreen-button button {
  background-position: -206px 4px;
}
/* line 84, ../sass/inc/_controls.scss */
div.mejs-controls .mejs-unfullscreen button {
  background-position: -236px 4px;
}

/* line 3, ../sass/inc/_contextmenu.scss */
div.mejs-contextmenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  padding: 10px;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: solid 1px #010101;
  z-index: 1001;
}

/* line 15, ../sass/inc/_contextmenu.scss */
div.mejs-contextmenu-separator {
  height: 1px;
  margin: 5px 6px;
  background: #4e4e4e;
}

/* line 21, ../sass/inc/_contextmenu.scss */
div.mejs-contextmenu-item {
  cursor: pointer;
  padding: 4px 6px;
  color: #4e4e4e;
}
/* line 25, ../sass/inc/_contextmenu.scss */
div.mejs-contextmenu-item:hover {
  background: #2c7c91;
  color: #f0f0f0;
}

/* line 6, ../sass/inc/_time.scss */
div.mejs-controls .mejs-time {
  box-sizing: content-box;
  width: auto;
  margin: 0 0.1em;
  padding: 5.33333px 3.55556px 0;
  overflow: hidden;
  text-align: center;
}
/* line 13, ../sass/inc/_time.scss */
div.mejs-controls .mejs-time a {
  float: left;
}
/* line 18, ../sass/inc/_time.scss */
div.mejs-controls .mejs-time-rail {
  direction: ltr;
  width: 180px;
  margin: 10.66667px 0 0;
}
/* line 23, ../sass/inc/_time.scss */
div.mejs-controls .mejs-time-rail span,
div.mejs-controls .mejs-time-rail a {
  cursor: pointer;
  position: absolute;
  display: block;
  height: 10.66667px;
  border-radius: 2px;
}
/* line 31, ../sass/inc/_time.scss */
div.mejs-controls span.mejs-time-total {
  background: #4e4e4e;
  background: rgba(78, 78, 78, 0.8);
  background: -webkit-linear-gradient(rgba(240, 240, 240, 0.8), rgba(78, 78, 78, 0.8));
  background: linear-gradient(rgba(240, 240, 240, 0.8), rgba(78, 78, 78, 0.8));
}
/* line 35, ../sass/inc/_time.scss */
div.mejs-controls span.mejs-time-current {
  background: #3caac8;
  background: rgba(60, 170, 200, 0.8);
  background: -webkit-linear-gradient(rgba(24, 71, 83, 0.8), rgba(60, 170, 200, 0.8));
  background: linear-gradient(rgba(24, 71, 83, 0.8), rgba(60, 170, 200, 0.8));
}
/* line 39, ../sass/inc/_time.scss */
div.mejs-controls span.mejs-time-loaded {
  background: #010101;
  background: rgba(1, 1, 1, 0.8);
  background: -webkit-linear-gradient(rgba(78, 78, 78, 0.8), rgba(1, 1, 1, 0.8));
  background: linear-gradient(rgba(78, 78, 78, 0.8), rgba(1, 1, 1, 0.8));
}
/* line 43, ../sass/inc/_time.scss */
div.mejs-controls span.mejs-time-buffering {
  background-image: -webkit-linear-gradient(135deg, rgba(240, 240, 240, 0.15) 25%, transparent 25%, transparent 50%, rgba(240, 240, 240, 0.15) 50%, rgba(240, 240, 240, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(240, 240, 240, 0.15) 25%, transparent 25%, transparent 50%, rgba(240, 240, 240, 0.15) 50%, rgba(240, 240, 240, 0.15) 75%, transparent 75%, transparent);
  background-size: 10.66667px 10.66667px;
  -webkit-animation: buffering-stripes 2s linear infinite;
  animation: buffering-stripes 2s linear infinite;
}
/* line 49, ../sass/inc/_time.scss */
div.mejs-controls span.mejs-time-handle {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  width: 10.66667px;
  margin: 0;
  text-align: center;
  background: #f0f0f0;
  border: solid 2px #4e4e4e;
}
/* line 61, ../sass/inc/_time.scss */
div.mejs-controls span.mejs-time-float {
  display: none;
  position: absolute;
  background: #f0f0f0;
  width: 36px;
  height: 17px;
  border: solid 1px #4e4e4e;
  top: -26px;
  margin-left: -18px;
  text-align: center;
  color: #010101;
}
/* line 74, ../sass/inc/_time.scss */
div.mejs-controls span.mejs-time-float-current {
  display: block;
  margin: 2px;
  width: 30px;
  left: 0;
}
/* line 81, ../sass/inc/_time.scss */
div.mejs-controls span.mejs-time-float-corner {
  width: 0;
  height: 0;
  line-height: 0;
  border: solid 5px #f0f0f0;
  border-color: #f0f0f0 transparent transparent transparent;
  border-radius: 0;
  top: 15px;
  left: 13px;
}

/* line 2, ../sass/inc/_video.scss */
div.mejs-long-video span.mejs-time-float {
  width: 48px;
}
/* line 5, ../sass/inc/_video.scss */
div.mejs-long-video span.mejs-time-float-current {
  width: 44px;
}
/* line 8, ../sass/inc/_video.scss */
div.mejs-long-video span.mejs-time-float-corner {
  left: 18px;
}

/* line 6, ../sass/inc/_volume.scss */
div.mejs-controls .mejs-volume-button {
  position: relative;
}
/* line 9, ../sass/inc/_volume.scss */
div.mejs-controls .mejs-volume-button .mejs-volume-slider {
  display: none;
  position: absolute;
  top: -100px;
  left: 0;
  width: 26px;
  height: 100px;
  margin: 0;
  padding: 0;
  background-color: #010101;
  background-color: rgba(1, 1, 1, 0.7);
  z-index: 1;
}
/* line 23, ../sass/inc/_volume.scss */
div.mejs-controls .mejs-volume-button .mejs-volume-total,
div.mejs-controls .mejs-volume-button .mejs-volume-current {
  position: absolute;
  top: 0;
  left: 12px;
  width: 2px;
  height: 100px;
  margin: 0;
}
/* line 33, ../sass/inc/_volume.scss */
div.mejs-controls .mejs-volume-button .mejs-volume-total {
  background: #4e4e4e;
}
/* line 37, ../sass/inc/_volume.scss */
div.mejs-controls .mejs-volume-button .mejs-volume-current {
  background: #3caac8;
  box-shadow: 0 0 0.4em 0 #3caac8 inset;
}
/* line 42, ../sass/inc/_volume.scss */
div.mejs-controls .mejs-volume-button .mejs-volume-handle {
  cursor: N-resize;
  position: absolute;
  top: -3.9px;
  left: 0.5px;
  width: 20.8px;
  height: 7.8px;
  background: #010101;
  border: #4e4e4e 1px solid;
  border-radius: 2px;
}
/* line 55, ../sass/inc/_volume.scss */
div.mejs-controls .mejs-horizontal-volume-slider {
  position: relative;
  display: block;
  float: left;
  width: 50px;
  height: 32px;
}
/* line 62, ../sass/inc/_volume.scss */
div.mejs-controls .mejs-horizontal-volume-slider div {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 10.66667px;
  margin: 10.66667px 0 0;
  font-size: 1px;
  border-radius: 2px;
}
/* line 73, ../sass/inc/_volume.scss */
div.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: #010101;
  background: rgba(1, 1, 1, 0.8);
  background: -webkit-linear-gradient(rgba(78, 78, 78, 0.8), rgba(1, 1, 1, 0.8));
  background: linear-gradient(rgba(78, 78, 78, 0.8), rgba(1, 1, 1, 0.8));
}
/* line 77, ../sass/inc/_volume.scss */
div.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #3caac8;
  background: rgba(60, 170, 200, 0.8);
  background: -webkit-linear-gradient(rgba(24, 71, 83, 0.8), rgba(60, 170, 200, 0.8));
  background: linear-gradient(rgba(24, 71, 83, 0.8), rgba(60, 170, 200, 0.8));
}
/* line 81, ../sass/inc/_volume.scss */
div.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
  display: none;
}

/* line 2, ../sass/inc/_embed.scss */
.mejs-embed,
.mejs-embed body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #010101;
}

/* line 2, ../sass/inc/_fullscreen.scss */
.mejs-fullscreen {
  /* Hide scrollbars if fullscreen */
  overflow: hidden !important;
}

/* line 7, ../sass/inc/_fullscreen.scss */
.mejs-container-fullscreen {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
/* line 14, ../sass/inc/_fullscreen.scss */
.mejs-container-fullscreen .mejs-layers,
.mejs-container-fullscreen .mejs-mediaelement,
.mejs-container-fullscreen video {
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
}

/* Plugin styles */
/* line 2, ../sass/inc/_plugins.scss */
.me-plugin {
  position: absolute;
}

/* line 3, ../sass/inc/_no-svg.scss */
.no-svg .mejs-overlay-button {
  background-image: url("ME_bigplay.png");
}
/* line 6, ../sass/inc/_no-svg.scss */
.no-svg .mejs-button button {
  background-image: "ME_controls_dark.png";
}

@-webkit-keyframes buffering-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 32px 0;
  }
}

@keyframes buffering-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 32px 0;
  }
}
