/* line 2, ../sass/common/_offscreen.scss */
.mejs-offscreen {
  position: absolute !important;
  top: -10000px;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 7, ../sass/common/_wrappers.scss */
.mediaelement {
  margin: auto;
  font-family: Helvetica, Arial;
  text-align: center;
  font-size: 11px;
  line-height: 11px;
  white-space: nowrap;
  vertical-align: baseline;
  color: #ccc;
}
/* line 16, ../sass/common/_wrappers.scss */
.mediaelement div {
  position: static;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 24, ../sass/common/_wrappers.scss */
.mediaelement ul,
.mediaelement li {
  display: block;
  list-style-type: none !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 32, ../sass/common/_wrappers.scss */
.mediaelement button {
  cursor: pointer;
  display: block;
  height: 16px;
  width: 16px;
  margin: 7px 5px;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent !important;
  background-image: url("../assets/images/controls-ted.svg") !important;
  background-repeat: no-repeat;
}
/* line 48, ../sass/common/_wrappers.scss */
.mediaelement button:focus,
.mediaelement button:hover {
  background-color: transparent !important;
  color: #ccc;
  border-color: #6f6f6f;
  text-decoration: none;
  background-image: none;
}
/* line 56, ../sass/common/_wrappers.scss */
.mediaelement button:focus {
  outline: dotted 1px #999;
}
/* line 60, ../sass/common/_wrappers.scss */
.mediaelement a {
  color: #ccc;
  font-size: 11px;
  line-height: 12px;
  display: block;
  width: auto;
  vertical-align: middle;
}

/* line 71, ../sass/common/_wrappers.scss */
.mejs-container {
  background-color: #222;
}

/* line 75, ../sass/common/_wrappers.scss */
div.mejs-layers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* line 83, ../sass/common/_wrappers.scss */
div.mejs-background {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 89, ../sass/common/_wrappers.scss */
div.mejs-mediaelement {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* line 98, ../sass/common/_wrappers.scss */
div.mejs-poster {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* line 105, ../sass/common/_wrappers.scss */
div.mejs-poster img {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 112, ../sass/common/_wrappers.scss */
:root .mejs-poster img {
  display: none;
}

/* line 116, ../sass/common/_wrappers.scss */
.mejs-clear {
  clear: both;
}

/* line 3, ../sass/common/_contextmenu.scss */
div.mejs-contextmenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  padding: 10px;
  border-radius: 4px;
  background-color: #ccc;
  border: solid 1px #222;
  z-index: 1001;
}

/* line 15, ../sass/common/_contextmenu.scss */
div.mejs-contextmenu-separator {
  height: 1px;
  margin: 5px 6px;
  background: #6f6f6f;
}

/* line 21, ../sass/common/_contextmenu.scss */
div.mejs-contextmenu-item {
  cursor: pointer;
  padding: 4px 6px;
  color: #6f6f6f;
}
/* line 25, ../sass/common/_contextmenu.scss */
div.mejs-contextmenu-item:hover {
  background: #2c7c91;
  color: #ccc;
}

/* line 1, ../sass/common/_time.scss */
div.mejs-time {
  box-sizing: content-box;
  width: auto;
  height: 17px;
  padding: 10px 3px 0 3px;
  overflow: hidden;
  text-align: center;
}
/* line 8, ../sass/common/_time.scss */
div.mejs-time a {
  font-size: 11px;
  line-height: 12px;
  float: left;
  margin: 1px 2px 0 0;
}

/* line 16, ../sass/common/_time.scss */
.mejs-time-rail {
  direction: ltr;
  width: 200px;
}
/* line 20, ../sass/common/_time.scss */
.mejs-time-rail span,
.mejs-time-rail a {
  cursor: pointer;
  display: block;
  position: absolute;
  width: 180px;
  height: 10px;
  border-radius: 2px;
}

/* line 29, ../sass/common/_time.scss */
span.mejs-time-total {
  overflow: hidden;
  margin: 8px 5px;
  background: #6f6f6f;
  background: rgba(111, 111, 111, 0.8);
  background: -webkit-linear-gradient(rgba(111, 111, 111, 0.8), rgba(34, 34, 34, 0.8));
  background: linear-gradient(rgba(111, 111, 111, 0.8), rgba(34, 34, 34, 0.8));
}

/* line 35, ../sass/common/_time.scss */
span.mejs-time-current {
  background: #3caac8;
  background: rgba(60, 170, 200, 0.8);
  background: -webkit-linear-gradient(rgba(60, 170, 200, 0.8), rgba(24, 71, 83, 0.8));
  background: linear-gradient(rgba(60, 170, 200, 0.8), rgba(24, 71, 83, 0.8));
}

/* line 39, ../sass/common/_time.scss */
span.mejs-time-loaded {
  background: #6f6f6f;
  background: rgba(111, 111, 111, 0.8);
  background: -webkit-linear-gradient(rgba(111, 111, 111, 0.8), rgba(204, 204, 204, 0.8));
  background: linear-gradient(rgba(111, 111, 111, 0.8), rgba(204, 204, 204, 0.8));
}

/* line 43, ../sass/common/_time.scss */
span.mejs-time-buffering {
  background-image: -webkit-linear-gradient(135deg, rgba(204, 204, 204, 0.15) 25%, transparent 25%, transparent 50%, rgba(204, 204, 204, 0.15) 50%, rgba(204, 204, 204, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(204, 204, 204, 0.15) 25%, transparent 25%, transparent 50%, rgba(204, 204, 204, 0.15) 50%, rgba(204, 204, 204, 0.15) 75%, transparent 75%, transparent);
  background-size: 15px 15px;
  -webkit-animation: buffering-stripes 2s linear infinite;
  animation: buffering-stripes 2s linear infinite;
}

/* line 49, ../sass/common/_time.scss */
span.mejs-time-handle {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  width: 10px;
  margin: 0;
  text-align: center;
  background: #ccc;
  border: solid 2px #6f6f6f;
  border-radius: 5px;
}

/* line 62, ../sass/common/_time.scss */
span.mejs-time-float {
  display: none;
  position: absolute;
  background: #ccc;
  width: 36px;
  height: 17px;
  border: solid 1px #6f6f6f;
  top: -26px;
  margin-left: -18px;
  text-align: center;
  color: #222;
}

/* line 75, ../sass/common/_time.scss */
span.mejs-time-float-current {
  display: block;
  margin: 2px;
  width: 30px;
  left: 0;
}

/* line 82, ../sass/common/_time.scss */
span.mejs-time-float-corner {
  width: 0;
  height: 0;
  line-height: 0;
  border: solid 5px #ccc;
  border-color: #ccc transparent transparent transparent;
  border-radius: 0;
  top: 15px;
  left: 13px;
}

/* line 2, ../sass/common/_captions.scss */
.mejs-captions-selector {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  bottom: 26px;
  right: -51px;
  width: 85px;
  height: 100px;
  padding: 10px 10px 0 10px;
  background-color: #222;
  background-color: rgba(34, 34, 34, 0.7);
  border: solid 1px transparent;
}
/* line 15, ../sass/common/_captions.scss */
.mejs-captions-selector li {
  margin: 0 0 6px 0;
  padding: 0;
  display: block;
  color: #ccc;
  overflow: hidden;
}
/* line 22, ../sass/common/_captions.scss */
.mejs-captions-selector input {
  clear: both;
  float: left;
  margin: 3px 3px 0 5px;
}
/* line 27, ../sass/common/_captions.scss */
.mejs-captions-selector label {
  width: 55px;
  float: left;
  padding: 4px 0 0 0;
  line-height: 15px;
  font-size: 10px;
}

/* line 36, ../sass/common/_captions.scss */
.mejs-captions-translations {
  font-size: 10px;
  margin: 0 0 5px 0;
}

/* line 41, ../sass/common/_captions.scss */
.mejs-captions-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
}
/* line 48, ../sass/common/_captions.scss */
.mejs-captions-layer a {
  text-decoration: underline;
}

/* line 53, ../sass/common/_captions.scss */
.mejs-captions-layer[lang=ar] {
  font-size: 20px;
  font-weight: normal;
}

/* line 58, ../sass/common/_captions.scss */
.mejs-captions-position {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 0;
}

/* line 65, ../sass/common/_captions.scss */
.mejs-captions-position-hover {
  bottom: 35px;
}

/* line 69, ../sass/common/_captions.scss */
.mejs-captions-text {
  padding: 3px 5px;
  background: url(background.png);
  background: rgba(20, 20, 20, 0.5);
  white-space: pre-wrap;
}

/* line 2, ../sass/common/_chapters.scss */
.mejs-chapters {
  position: absolute;
  top: 0;
  left: 0;
  border-right: solid 1px #ccc;
  width: 10000px;
  z-index: 1;
}

/* line 11, ../sass/common/_chapters.scss */
.mejs-chapter {
  position: absolute;
  float: left;
  overflow: hidden;
  background: #6f6f6f;
  background: rgba(111, 111, 111, 0.8);
  background: -webkit-linear-gradient(rgba(111, 111, 111, 0.8), rgba(34, 34, 34, 0.8));
  background: linear-gradient(rgba(111, 111, 111, 0.8), rgba(34, 34, 34, 0.8));
}

/* line 18, ../sass/common/_chapters.scss */
.mejs-chapter-block {
  cursor: pointer;
  padding: 5px;
  color: #ccc;
  border-right: solid 1px #6f6f6f;
  border-bottom: solid 1px #6f6f6f;
}
/* line 24, ../sass/common/_chapters.scss */
.mejs-chapter-block:hover {
  background: #6f6f6f;
  background: rgba(111, 111, 111, 0.8);
  background: -webkit-linear-gradient(rgba(111, 111, 111, 0.8), rgba(34, 34, 34, 0.8));
  background: linear-gradient(rgba(111, 111, 111, 0.8), rgba(34, 34, 34, 0.8));
}
/* line 27, ../sass/common/_chapters.scss */
.mejs-chapter-block .ch-title {
  font-weight: bold;
  text-overflow: ellipsis;
  margin: 0 0 3px 0;
  line-height: 12px;
}
/* line 33, ../sass/common/_chapters.scss */
.mejs-chapter-block .ch-timespan {
  font-size: 12px;
  line-height: 12px;
  margin: 3px 0 4px 0;
  text-overflow: ellipsis;
}

/* line 41, ../sass/common/_chapters.scss */
.mejs-chapter-block-last {
  border-right: none;
}

/* line 1, ../sass/common/_postroll.scss */
.mejs-postroll-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(background.png);
  background: rgba(50, 50, 50, 0.7);
  z-index: 1000;
  overflow: hidden;
}

/* line 13, ../sass/common/_postroll.scss */
.mejs-postroll-layer-content {
  width: 100%;
  height: 100%;
}

/* line 18, ../sass/common/_postroll.scss */
.mejs-postroll-close {
  position: absolute;
  right: 0;
  top: 0;
  background: url(background.png);
  background: rgba(50, 50, 50, 0.7);
  color: #fff;
  padding: 4px;
  z-index: 100;
  cursor: pointer;
}

/* line 2, ../sass/common/_captions.scss */
.mejs-captions-selector {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  bottom: 26px;
  right: -51px;
  width: 85px;
  height: 100px;
  padding: 10px 10px 0 10px;
  background-color: #222;
  background-color: rgba(34, 34, 34, 0.7);
  border: solid 1px transparent;
}
/* line 15, ../sass/common/_captions.scss */
.mejs-captions-selector li {
  margin: 0 0 6px 0;
  padding: 0;
  display: block;
  color: #ccc;
  overflow: hidden;
}
/* line 22, ../sass/common/_captions.scss */
.mejs-captions-selector input {
  clear: both;
  float: left;
  margin: 3px 3px 0 5px;
}
/* line 27, ../sass/common/_captions.scss */
.mejs-captions-selector label {
  width: 55px;
  float: left;
  padding: 4px 0 0 0;
  line-height: 15px;
  font-size: 10px;
}

/* line 36, ../sass/common/_captions.scss */
.mejs-captions-translations {
  font-size: 10px;
  margin: 0 0 5px 0;
}

/* line 41, ../sass/common/_captions.scss */
.mejs-captions-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
}
/* line 48, ../sass/common/_captions.scss */
.mejs-captions-layer a {
  text-decoration: underline;
}

/* line 53, ../sass/common/_captions.scss */
.mejs-captions-layer[lang=ar] {
  font-size: 20px;
  font-weight: normal;
}

/* line 58, ../sass/common/_captions.scss */
.mejs-captions-position {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 0;
}

/* line 65, ../sass/common/_captions.scss */
.mejs-captions-position-hover {
  bottom: 35px;
}

/* line 69, ../sass/common/_captions.scss */
.mejs-captions-text {
  padding: 3px 5px;
  background: url(background.png);
  background: rgba(20, 20, 20, 0.5);
  white-space: pre-wrap;
}

/* line 1, ../sass/common/_sourcechooser.scss */
div.mejs-sourcechooser-selector {
  visibility: hidden;
  position: absolute;
  bottom: 26px;
  right: -10px;
  width: 130px;
  height: 100px;
  padding: 10px;
  border: solid 1px transparent;
  background: url(background.png);
  background: rgba(50, 50, 50, 0.7);
}
/* line 12, ../sass/common/_sourcechooser.scss */
div.mejs-sourcechooser-selector li {
  margin: 0 0 6px 0;
}
/* line 15, ../sass/common/_sourcechooser.scss */
div.mejs-sourcechooser-selector input {
  clear: both;
  float: left;
  margin: 3px 3px 0 5px;
}
/* line 20, ../sass/common/_sourcechooser.scss */
div.mejs-sourcechooser-selector label {
  width: 100px;
  float: left;
  padding: 4px 0 0 0;
  line-height: 15px;
  font-size: 10px;
}

/* line 1, ../sass/common/_speed.scss */
.mejs-speed-button {
  width: 46px !important;
  position: relative;
}
/* line 4, ../sass/common/_speed.scss */
.mejs-speed-button button {
  background: transparent;
  width: 36px;
  font-size: 11px;
  line-height: normal;
  color: #fff;
}
/* line 11, ../sass/common/_speed.scss */
.mejs-speed-button:hover > .mejs-speed-selector {
  visibility: visible;
}
/* line 14, ../sass/common/_speed.scss */
.mejs-speed-button .mejs-speed-selected {
  color: #21f8f8;
}

/* line 19, ../sass/common/_speed.scss */
.mejs-speed-selector {
  visibility: hidden;
  position: absolute;
  top: -100px;
  left: -20px;
  width: 60px;
  height: 100px;
  background: url(background.png);
  background: rgba(50, 50, 50, 0.7);
  border: solid 1px transparent;
  padding: 0;
  overflow: hidden;
  border-radius: 0;
}
/* line 32, ../sass/common/_speed.scss */
.mejs-speed-selector input {
  display: none;
}
/* line 35, ../sass/common/_speed.scss */
.mejs-speed-selector label {
  width: 60px;
  float: left;
  padding: 4px 0 0 0;
  line-height: 15px;
  font-size: 11.5px;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}
/* line 45, ../sass/common/_speed.scss */
.mejs-speed-selector li {
  margin: 0 0 6px 0;
  padding: 0 10px;
  list-style-type: none !important;
  display: block;
  color: #fff;
  overflow: hidden;
}
/* line 52, ../sass/common/_speed.scss */
.mejs-speed-selector li:hover {
  background-color: #c8c8c8 !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
}

/* line 1, ../sass/common/_time.scss */
div.mejs-time {
  box-sizing: content-box;
  width: auto;
  height: 17px;
  padding: 10px 3px 0 3px;
  overflow: hidden;
  text-align: center;
}
/* line 8, ../sass/common/_time.scss */
div.mejs-time a {
  font-size: 11px;
  line-height: 12px;
  float: left;
  margin: 1px 2px 0 0;
}

/* line 16, ../sass/common/_time.scss */
.mejs-time-rail {
  direction: ltr;
  width: 200px;
}
/* line 20, ../sass/common/_time.scss */
.mejs-time-rail span,
.mejs-time-rail a {
  cursor: pointer;
  display: block;
  position: absolute;
  width: 180px;
  height: 10px;
  border-radius: 2px;
}

/* line 29, ../sass/common/_time.scss */
span.mejs-time-total {
  overflow: hidden;
  margin: 8px 5px;
  background: #6f6f6f;
  background: rgba(111, 111, 111, 0.8);
  background: -webkit-linear-gradient(rgba(111, 111, 111, 0.8), rgba(34, 34, 34, 0.8));
  background: linear-gradient(rgba(111, 111, 111, 0.8), rgba(34, 34, 34, 0.8));
}

/* line 35, ../sass/common/_time.scss */
span.mejs-time-current {
  background: #3caac8;
  background: rgba(60, 170, 200, 0.8);
  background: -webkit-linear-gradient(rgba(60, 170, 200, 0.8), rgba(24, 71, 83, 0.8));
  background: linear-gradient(rgba(60, 170, 200, 0.8), rgba(24, 71, 83, 0.8));
}

/* line 39, ../sass/common/_time.scss */
span.mejs-time-loaded {
  background: #6f6f6f;
  background: rgba(111, 111, 111, 0.8);
  background: -webkit-linear-gradient(rgba(111, 111, 111, 0.8), rgba(204, 204, 204, 0.8));
  background: linear-gradient(rgba(111, 111, 111, 0.8), rgba(204, 204, 204, 0.8));
}

/* line 43, ../sass/common/_time.scss */
span.mejs-time-buffering {
  background-image: -webkit-linear-gradient(135deg, rgba(204, 204, 204, 0.15) 25%, transparent 25%, transparent 50%, rgba(204, 204, 204, 0.15) 50%, rgba(204, 204, 204, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(204, 204, 204, 0.15) 25%, transparent 25%, transparent 50%, rgba(204, 204, 204, 0.15) 50%, rgba(204, 204, 204, 0.15) 75%, transparent 75%, transparent);
  background-size: 15px 15px;
  -webkit-animation: buffering-stripes 2s linear infinite;
  animation: buffering-stripes 2s linear infinite;
}

/* line 49, ../sass/common/_time.scss */
span.mejs-time-handle {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  width: 10px;
  margin: 0;
  text-align: center;
  background: #ccc;
  border: solid 2px #6f6f6f;
  border-radius: 5px;
}

/* line 62, ../sass/common/_time.scss */
span.mejs-time-float {
  display: none;
  position: absolute;
  background: #ccc;
  width: 36px;
  height: 17px;
  border: solid 1px #6f6f6f;
  top: -26px;
  margin-left: -18px;
  text-align: center;
  color: #222;
}

/* line 75, ../sass/common/_time.scss */
span.mejs-time-float-current {
  display: block;
  margin: 2px;
  width: 30px;
  left: 0;
}

/* line 82, ../sass/common/_time.scss */
span.mejs-time-float-corner {
  width: 0;
  height: 0;
  line-height: 0;
  border: solid 5px #ccc;
  border-color: #ccc transparent transparent transparent;
  border-radius: 0;
  top: 15px;
  left: 13px;
}

/* line 2, ../sass/common/_video.scss */
div.mejs-long-video span.mejs-time-float {
  width: 48px;
}
/* line 5, ../sass/common/_video.scss */
div.mejs-long-video span.mejs-time-float-current {
  width: 44px;
}
/* line 8, ../sass/common/_video.scss */
div.mejs-long-video span.mejs-time-float-corner {
  left: 18px;
}

/* line 4, ../sass/common/_volume.scss */
div.mejs-volume-button {
  position: relative;
}
/* line 7, ../sass/common/_volume.scss */
div.mejs-volume-button a.mejs-volume-slider {
  display: none;
  position: absolute;
  top: -100px;
  left: 0;
  width: 25px;
  height: 100px;
  background-color: #6f6f6f;
  background-color: rgba(111, 111, 111, 0.7);
  z-index: 1;
}
/* line 19, ../sass/common/_volume.scss */
div.mejs-volume-button div.mejs-volume-total,
div.mejs-volume-button div.mejs-volume-current {
  position: absolute;
  top: 0;
  left: 11.5px;
  width: 2px;
  height: 100px;
  background-color: #222;
  background-color: rgba(34, 34, 34, 0.9);
}
/* line 30, ../sass/common/_volume.scss */
div.mejs-volume-button div.mejs-volume-handle {
  cursor: N-resize;
  position: absolute;
  left: 2.5px;
  top: -3px;
  width: 20px;
  height: 10px;
  border-radius: 1px;
  background-color: #ccc;
  background-color: rgba(204, 204, 204, 0.9);
}

/* line 43, ../sass/common/_volume.scss */
a.mejs-horizontal-volume-slider {
  position: relative;
  display: block;
  float: left;
  width: 50px;
  height: 24px;
  margin: 11px 0;
}
/* line 51, ../sass/common/_volume.scss */
a.mejs-horizontal-volume-slider div {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 8px;
  font-size: 1px;
  border-radius: 2px;
}

/* line 62, ../sass/common/_volume.scss */
div.mejs-horizontal-volume-total {
  background: #222;
  background: rgba(34, 34, 34, 0.8);
  background: -webkit-linear-gradient(rgba(34, 34, 34, 0.8), rgba(111, 111, 111, 0.8));
  background: linear-gradient(rgba(34, 34, 34, 0.8), rgba(111, 111, 111, 0.8));
}

/* line 66, ../sass/common/_volume.scss */
div.mejs-horizontal-volume-current {
  background: #ccc;
  background: rgba(204, 204, 204, 0.8);
  background: -webkit-linear-gradient(rgba(204, 204, 204, 0.8), rgba(204, 204, 204, 0.8));
  background: linear-gradient(rgba(204, 204, 204, 0.8), rgba(204, 204, 204, 0.8));
}

/* line 70, ../sass/common/_volume.scss */
div.mejs-horizontal-volume-handle {
  display: none;
}

/* line 2, ../sass/common/_embed.scss */
.mejs-embed,
.mejs-embed body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
}

/* line 2, ../sass/common/_fullscreen.scss */
.mejs-fullscreen {
  /* Hide scrollbars if fullscreen */
  overflow: hidden !important;
}

/* line 7, ../sass/common/_fullscreen.scss */
.mejs-container-fullscreen {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
/* line 15, ../sass/common/_fullscreen.scss */
.mejs-container-fullscreen .mejs-mediaelement,
.mejs-container-fullscreen video {
  width: 100%;
  height: 100%;
}

/* line 2, ../sass/common/_overlay.scss */
.mejs-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 8, ../sass/common/_overlay.scss */
.mejs-overlay-play {
  cursor: pointer;
}

/* line 12, ../sass/common/_overlay.scss */
.mejs-overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  background: url(bigplay.svg) no-repeat;
}

/* line 22, ../sass/common/_overlay.scss */
.mejs-overlay:hover .mejs-overlay-button {
  background-position: 0 -100px;
}

/* line 26, ../sass/common/_overlay.scss */
.mejs-overlay-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  background: #6f6f6f;
  background: rgba(111, 111, 111, 0.8);
  background: -webkit-linear-gradient(rgba(111, 111, 111, 0.8), rgba(34, 34, 34, 0.8));
  background: linear-gradient(rgba(111, 111, 111, 0.8), rgba(34, 34, 34, 0.8));
}
/* line 34, ../sass/common/_overlay.scss */
.mejs-overlay-loading span {
  display: block;
  width: 80px;
  height: 80px;
  background: transparent url(loading.gif) 50% 50% no-repeat;
}

/* line 2, ../sass/common/_plugins.scss */
.me-plugin {
  position: absolute;
}

/* line 3, ../sass/common/_no-svg.scss */
.no-svg .mejs-overlay-button {
  background-image: url(bigplay.png);
}
/* line 6, ../sass/common/_no-svg.scss */
.no-svg .mejs-button button {
  background-image: "../assets/images/controls-ted.png";
}

@-webkit-keyframes buffering-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30px 0;
  }
}

@keyframes buffering-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30px 0;
  }
}
/* line 3, ../sass/controls/_controls-ted.scss */
div.mejs-controls {
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #6f6f6f;
  background: rgba(111, 111, 111, 0.8);
  background: -webkit-linear-gradient(rgba(111, 111, 111, 0.8), rgba(34, 34, 34, 0.8));
  background: linear-gradient(rgba(111, 111, 111, 0.8), rgba(34, 34, 34, 0.8));
}
/* line 11, ../sass/controls/_controls-ted.scss */
div.mejs-controls div {
  float: left;
  width: 26px;
  height: 26px;
}
/* line 16, ../sass/controls/_controls-ted.scss */
div.mejs-controls button {
  background-color: transparent !important;
}

/* line 22, ../sass/controls/_controls-ted.scss */
.mejs-play button {
  background-position: 0 0;
}

/* line 26, ../sass/controls/_controls-ted.scss */
.mejs-pause button {
  background-position: 0 -16px;
}

/* line 30, ../sass/controls/_controls-ted.scss */
.mejs-stop button {
  background-position: -112px 0;
}

/* line 34, ../sass/controls/_controls-ted.scss */
.mejs-fullscreen-button button {
  background-position: -32px 0;
}

/* line 38, ../sass/controls/_controls-ted.scss */
.mejs-unfullscreen button {
  background-position: -32px -16px;
}

/* line 42, ../sass/controls/_controls-ted.scss */
.mejs-mute button {
  background-position: -16px -16px;
}

/* line 46, ../sass/controls/_controls-ted.scss */
.mejs-unmute button {
  background-position: -16px 0;
}

/* line 50, ../sass/controls/_controls-ted.scss */
.mejs-captions-button button {
  background-position: -48px 0;
}

/* line 54, ../sass/controls/_controls-ted.scss */
.mejs-loop-off button {
  background-position: -64px -16px;
}

/* line 58, ../sass/controls/_controls-ted.scss */
.mejs-loop-on button {
  background-position: -64px 0;
}

/* line 62, ../sass/controls/_controls-ted.scss */
.mejs-backlight-off button {
  background-position: -80px -16px;
}

/* line 66, ../sass/controls/_controls-ted.scss */
.mejs-backlight-on button {
  background-position: -80px 0;
}

/* line 70, ../sass/controls/_controls-ted.scss */
.mejs-picturecontrols-button {
  background-position: -96px 0;
}

/* line 74, ../sass/controls/_controls-ted.scss */
.mejs-sourcechooser-button button {
  background-position: -128px 0;
}

/* line 78, ../sass/controls/_controls-ted.scss */
.mejs-skip-back-button {
  background: transparent url(skipback.png) no-repeat;
  background-position: 3px 3px;
}

/* line 84, ../sass/controls/_controls-ted.scss */
.me-cannotplay a {
  font-weight: bold;
}
/* line 87, ../sass/controls/_controls-ted.scss */
.me-cannotplay span {
  padding: 15px;
}
