
.mejs-fullscreen {
  /* Hide scrollbars if fullscreen */
  overflow: hidden !important;
}

.mejs-container-fullscreen {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;

  .mejs-layers,
  .mejs-mediaelement,
  video {
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
  }
}

div.mejs-overlay {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  min-height: 100px;

  .mejs-overlay-button,
  .mejs-overlay-loading {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .mejs-overlay-button {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    background: url($bigplay) no-repeat;
  }

  .mejs-overlay:hover .mejs-overlay-button {
    background-position: 0 -100px;
  }

  $lsize: 72px;
  .mejs-overlay-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $lsize;
    height: $lsize;
    margin: -($lsize / 2) 0 0 -($lsize / 2);

    span {
      display: block;
      width: 80px;
      height: 80px;
      background: transparent url($loading) 50% 50% no-repeat;
    }
  }
}
