.mejs-audio,
.mediaelement-audio {}

.mejs-video,
.mediaelement-video {}

.mediaelement {
  margin: auto;
  font-family: Helvetica, Arial;
  text-align: center;
  font-size: 11px;
  line-height: 11px;
  white-space: nowrap;
  vertical-align: baseline;
  color: $foreground;
  div {
    position: static;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    //overflow: hidden;
  }
  ul,
  li {
    display: block;
    list-style-type: none !important;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  button {
    cursor: pointer;
    display: block;
    height: 16px;
    width: 16px;
    margin: 7px 5px;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent!important;
    background-image: url($controls)!important;
    background-repeat: no-repeat;

    &:focus,
    &:hover {
      background-color: transparent!important;
      color: $foreground;
      border-color: $midground;
      text-decoration: none;
      background-image: none;
    }
    &:focus {
      outline: dotted 1px #999;
    }
  }
  a {
    color: $foreground;
    font-size: 11px;
    line-height: 12px;
    display: block;
    width: auto;
    vertical-align: middle;
  }
}

// Wrapper / container elements.
.mejs-container {
  background-color: $background;
}

div.mejs-layers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

div.mejs-background {
  position: absolute;
  top: 0;
  left: 0;
}

div.mejs-mediaelement {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

div.mejs-poster {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  img {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

:root .mejs-poster img {
  display: none;
}

.mejs-clear {
  clear: both;
}
